<!-- =========================================================
  部分テンプレート: ページ番号省略「...」
  ---------------------------------------------------------
  Kaminari のページネーションでページ数が多い場合に、
  間を「...」などで省略表示する部分。
========================================================= -->
<span class="px-2 text-slate-400">
  <%= t('views.pagination.truncate').html_safe %>
</span>
