<!-- =========================================================
  View: OmniAuth#failure
  ---------------------------------------------------------
  ・外部認証の失敗/キャンセル時に表示されるフォールバック
========================================================= -->

<div>
  <h1 class="font-bold text-4xl">OmniAuth#failure</h1>
  <p>Find me in app/views/omni_auth/failure.html.erb</p>
</div>
